<div class="footer container-fluid">

<div class="row">

<div class="col">
<h3> hubinIT </h3>

<p class="statement"> MAKING IT SERVICES EASILY ACCESSIBLE FOR ALL </p>
</div>

<div class="col">
</div>
<div class="col">
</div>

<div class="col">
<h3> Products </h3>
<p class="products"> Product 1</p>

<p class="products"> Product 2</p>
<p class="products"> Product 3</p>
<h5> Data Privacy </h5>

</div>

<div class="col">
<h3> Help & Support </h3>
<p class="hs"> Security & Safety</p>
<p class="hs"> Selling on hubinIT</p>
<p class="hs"> Buying on hubinIT</p>
<h5> Terms of Use </h5>

</div>

<div class="col">
<h3> Resources </h3>
<p class="res">News</p>
<p class="res"> Blog</p>
<p class="res"> FAQs</p>
<h5> Cookie Policy</h5>

</div>

</div>

<div class="row finalfooterrow">

<div class="col">

</div>
<div class="col">
</div>

<div class="col">
<h5> Intellectual Property Claims </h5>
</div>
<div class="col">
</div>


<div class="col">
</div>
<div class="col">
</div>

<div class="col">
</div>

</div>
</div>
