<div class="container ">

<div class="row">
<div class="opening-statement">
<p> <span class="primarycolor">We help </span> <span class="tertiarycolor">organisations</span>
 <span class="primarycolor"> translate their business goals into </span>
<span class="secondarycolor">IT solutions. </span> </p>
</div>
</div>

<div class="row">
<p class="openingpara"> With A Unique Combination Of Innovative And Multicultural Technical Services,
 HubinIT Empowers Customers Around The Globe In Their Customer Experience, Digitalization, And
 Cloud Computing Strategies. We Design, Implement, And Operate Custom Software Applications For Mid- To
 Large-Sized Enterprises And Are Committed To Offering Our Customers Innovative And Future-Proof Solutions. </p>
<div>
</div>

<!--More About -->
<!-- Paragraph and SVG Image on the right-->
<div class="container-fluid more-about-section">
<div class="row more-about">
<div class="col moreabout-colone">
<h1>A <span class="primarycolor"> hub </span> <span class="tertiarycolor">in </span> <span class="secondarycolor"> IT </span></h1>
<p class="more-about-para">Born out of need to simplify connecting IT specialists to their clients
 through a platform, Our founders built hubinIT. </p>

 <p class="more-about-para"> Hub assists a large number of customers
 internationally to hire highly experienced specialists in desktop, web, and mobile development.
 Our developers employ the latest technologies, frameworks, and components to create
olutions that combine a strong technical back end with easy to use modern design. </p>
</div>

<div class="col moreabout-coltwo">
Image to be here!</div>
</div>
</div>

<!-- Meet Our Leaders-->
<!--About the people-->
<div class="container-fluid meetourleaders-section">
<h1> <span class="tertiarycolor">Meet Our Leaders </span> </h1>
<div class="row carousel-team-cards">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="card shadow p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-4 member-image-socialmedia">
<img src="..." class="img-responsive img-thumbnail" alt="team-member" />
<p class="member-title"> <span class="primarycolor"> Inga Thiessen </span> </p>
<p class="team-designation"> <span class="tertiarycolor"> Co Founder </span> </p>
<div class="row team-member-social-icons">
<div class="col">
</div>
<div class="col">
</div>

  <div class="col">
  <a href="#">
<img src="../assets/img/linkedin.svg" class="img-responsive" alt="linkedin-logo">
</a>
</div>
<div class="col">
<a href="">
<img src="../assets/img/twitter.svg" class="img-responsive" alt="twitter-logo">
</a>
</div>
<div class="col">
</div>
<div class="col">
</div>

</div>
      </div>

       <div class="col-8 member-about">
<p> <span class="secondarycolor">Inga is a co-founder of Hub in IT. She brings over 10+ years’ professional
experience in risk management, resilience and strategic planning across financial
services, government, consulting and tech startups. In these roles, she has advised
leadership, managed complex stakeholder relationships, implemented cross-functional
 initiatives, and driven improvement and transformation. She is a graduate of
 Columbia University (BA) and the London School of Economics (MSc),
and is currently pursuing her LLM in International Law from the University of Law in London. </span></p>
      </div>
    </div>
  </div>
</div>
</div>
    <div class="carousel-item" data-bs-interval="2000">
 <div class="card shadow p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-4 member-image-socialmedia">
<img src="..." class="img-responsive img-thumbnail" alt="team-member" />
<p class="member-title"> <span class="primarycolor"> Eric Burnik </span> </p>
<p class="team-designation"> <span class="tertiarycolor"> Founder </span> </p>
<div class="row team-member-social-icons">
<div class="col">
</div>
<div class="col">
</div>

  <div class="col">
  <a href="#">
<img src="../assets/img/linkedin.svg" class="img-responsive" alt="linkedin-logo">
</a>
</div>
<div class="col">
<a href="">
<img src="../assets/img/twitter.svg" class="img-responsive" alt="twitter-logo">
</a>
</div>
<div class="col">
</div>
<div class="col">
</div>

</div>
      </div>

       <div class="col-8 member-about">
<p> <span class="secondarycolor">Eric Burnik is founding member of ELEPHANS, Chief Executive Officer (CEO).
He is responsible for the departments Growth, HR and the international operating business units in the USA
& UK. He studied International Business & International Tourism Management.
Eric has gained massive experiences by failing the most of the time.
And still being able to gain business and sales experiences at IBM & HPE.In his free time,
he commits himself to his family, focusing on charitable projects and active in CrossFit. </span></p>
      </div>
    </div>
  </div>
</div>
    </div>


<div class="carousel-item">
 <div class="card shadow p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-4 member-image-socialmedia">
<img src="..." class="img-responsive img-thumbnail" alt="team-member" />
<p class="member-title"> <span class="primarycolor"> Asma Al Rawahi </span> </p>
<p class="team-designation"> <span class="tertiarycolor"> Founder </span> </p>
<div class="row team-member-social-icons">
<div class="col">
</div>
<div class="col">
</div>

  <div class="col">
  <a href="#">
<img src="../assets/img/linkedin.svg" class="img-responsive" alt="linkedin-logo">
</a>
</div>
<div class="col">
<a href="">
<img src="../assets/img/twitter.svg" class="img-responsive" alt="twitter-logo">
</a>
</div>
<div class="col">
</div>
<div class="col">
</div>

</div>
      </div>

       <div class="col-8 member-about">
<p> <span class="secondarycolor">Asma is a young Omani with experience in Management Consulting.
Asma has delivered projects in Human Capital Consulting that include but not
limited to writing job descriptions, developing competency frameworks,
 redesigning performance management systems, and reviewing compensation & benefits structures.</span></p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="carousel-item">
 <div class="card shadow p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <div class="row">
      <div class="col-4 member-image-socialmedia">
<img src="..." class="img-responsive img-thumbnail" alt="team-member" />
<p class="member-title"> <span class="primarycolor"> Arthur Verlaan </span> </p>
<p class="team-designation"> <span class="tertiarycolor"> Chief Techonology Officer </span> </p>
<div class="row team-member-social-icons">
<div class="col">
</div>
<div class="col">
</div>

  <div class="col">
  <a href="#">
<img src="../assets/img/linkedin.svg" class="img-responsive" alt="linkedin-logo">
</a>
</div>
<div class="col">
<a href="">
<img src="../assets/img/twitter.svg" class="img-responsive" alt="twitter-logo">
</a>
</div>
<div class="col">
</div>
<div class="col">
</div>

</div>
      </div>

       <div class="col-8 member-about">
<p> <span class="secondarycolor">Arthur Verlaan is one of the founders of Elephans.
As Chief Technical Officer, he is responsible for the departments Software engineering and Quality insurance.
 He has studied Computer Sciences at Noordelijk Hogeschool in Leeuwarden, Netherlands.
 In his free time, Arthur likes to relax by playing or watching a good game of rugby.
And in his holidays he can be found walking the hills of Wales.</span></p>
      </div>
    </div>
  </div>
</div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
