.navbar-light {
    background-color: #ffffff !important;
}

.img-thumbnail {
    border: none !important;
    margin-left: 40px;
}

.navbar-brand {
    height: 50% !important;
    width: 52% !important;
    padding-left: 30px !important;
}

.navbar-nav {
    margin-left: -430px !important;
    text-align: center !important;
}

.navbar-nav .nav-link {
    color: #8b8b8b !important;
}

.navbar-nav .nav-link:hover {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-left: 35px !important;
}

#logintext {
    margin-left: 450px;
    margin-bottom: 3px !important;
    color: #1F335F !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #1F335F !important;
    border-radius: 50px !important;
    font-weight: bold !important;
}

#logintext:hover {
    color: #1F335F !important;
    border-bottom: none !important;
}

.btn-primary:hover {
    color: #ffffff !important;
}

.navbar-nav .nav-link:active {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}

.navbar-nav .nav-link[tabindex]:focus {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}