.navbar-light {
    background-color: #ffffff !important;
}

.img-thumbnail {
    border: none !important;
    margin-left: 40px;
}

.navbar-brand {
    height: 50% !important;
    width: 52% !important;
    padding-left: 30px !important;
}

.navbar-nav {
    margin-left: -430px !important;
    text-align: center !important;
}

.navbar-nav .nav-link {
    color: #8b8b8b !important;
}

.navbar-nav .nav-link:hover {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}

.navbar-nav .nav-item {
    padding-left: 35px !important;
}

#logintext {
    margin-left: 450px;
    margin-bottom: 3px !important;
    color: #1F335F !important;
    text-decoration: none !important;
    font-weight: bold !important;
}

.btn-primary {
    color: #ffffff !important;
    background-color: #1F335F !important;
    border-radius: 50px !important;
    font-weight: bold !important;
}

#logintext:hover {
    color: #1F335F !important;
    border-bottom: none !important;
}

.btn-primary:hover {
    color: #ffffff !important;
}

.navbar-nav .nav-link:active {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}

.navbar-nav .nav-link[tabindex]:focus {
    color: #ED6C05 !important;
    border-bottom: 2px solid #ED6C05;
    font-weight: bold;
}

@media (max-width: 500px) {
    .navbar-brand {
        margin-left: -60px;
    }
    .navbar {
        margin-right: -10px;
    }
    #logintext {
        margin-left: -10px !important;
    }
    .navbar-nav .nav-item {
        margin-right: -390px !important;
        margin-bottom: 10px;
    }
    .navbar-toggler {
        border: none !important;
    }
    .navbar-toggler:hover {
        color: #ED6C05 !important;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.418), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .navbar-toggler-icon {
        border-color: #ED6C05 !important;
    }
}

@media (max-width: 1800px) {
    .navbar-brand {
        margin-left: -60px;
    }
    .navbar {
        margin: 0px !important;
    }
    #logintext {
        margin-left: 250px !important;
    }
    .navbar-nav .nav-item {
        padding-left: 5px !important;
    }
    .navbar-nav {
        text-align: center !important;
        margin-left: -280px !important;
    }
}
