<div class="container-fluid">

<div class="row">
<div class="col">
<img src="../assets/img/sapiens-11.png" class="img-responsive" height="100%" width="90%" alt="">
</div>

<div class="col textcomingsoon">
<h1> <span class="secondarycolor">  COMING  </span>  <span class="primarycolor"> SOON </span> </h1>

<h1>  <span class="primarycolor"> STAY </span>   <span class="tertiarycolor">TUNED </span> </h1>
<br>
<button type="button" routerLink="/app-about" class="btn btn-primary btn-lg">HOME</button>
</div>
</div>

</div>
<router-outlet></router-outlet>
